@media screen and (max-width: 1024px) {
    header {
        flex-direction: column;
    }
    ul {
        display: none;
    }
    main {
        margin-top: -40px;
        text-align: center;
        flex-direction: column;
    }
    h2 {
        font-size: 40px;
        line-height: 35px;
    }
    p {
        width: 100%;
    }
    .btn-aside {
        width: 100%;
        transition: none;
    }
    .btn-aside:hover {
        width: 100%;
        transition: none;
    }
    img {
        justify-items: flex-end;
        width: 300px;
    }
}